@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

html,
body {
    font-family: var(--font-geist-sans);
    overflow: hidden;
}

button {
    position: relative;
    z-index: 10;
}

.font-indie {
    font-family: 'Indie Flower', cursive;
}

.dark {
    background: linear-gradient(to bottom, #000814, #001d3d, #002855);
    color: white;
}

.star {
    position: absolute;
    width: 3px;
    height: 3px;
    background-color: white;
    border-radius: 50%;

    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5), 0 0 20px rgba(255, 255, 255, 0.3);
    filter: blur(1px);

    opacity: 0;
    animation: twinkle 46s ease-in-out infinite;
}

@keyframes twinkle {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

ul li {
    cursor: pointer;
    transition: background-color 0.2s ease;
}

ul li:hover {
    background-color: rgba(0, 0, 0, 0.1);
}